.searchresult, .categoryresult {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 1vh 1vw 0.7vw;
    border-radius: 8px;
    margin: 2vh 1vw;
    min-width: 780px;
    box-shadow: 0px 3px 10px 2px lightgray;
}

.searchresult h2, .categoryresult h2 {
    margin: 0;
    font-size: 1.5em;
}

.spec {
    margin-left: 1vw;
}

.rating2 {
    margin-top: 1vw;
    display: flex;
    align-items: center;
}

.rating2 p {
    font-size: 1.2em;
    margin-left: 0.4vw;
}

#users {
    color: grey;
    font-size: 1em;
    margin-left: 0.4vw;
}

.star2 {
    font-size: 1.2em;
    color: #FFC107;
}

.price2 {
    margin-top: 1vw;
    font-size: 1.6em;
    font-weight: 500;
}

.searchresult ul, .categoryresult ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.pricediv2 {
    display: flex;
}

.originalprice2 {
    font-size: 1.2em;
    margin-top: 1.2vw;
    margin-left: 0.5vw;
    font-weight: 500;
    text-decoration: line-through;
    color: grey;
}

.productlinks2 {
    padding: 0.7vw;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    display: flex;
    background-color: #F0F0F0;
    margin-top: 1vw;
    transition: all 0.3s ease 0s;
}

.productlinks2 h2 {
    font-size: 1.2em;
}

.productlinks2:hover {
    background-color: lightgrey;
}

.productlinks2 img {
    margin: 0;
    width: 11vw;
    height: 11vw;
}

@media screen and (max-width: 750px) {
    .searchresult, .categoryresult {
        min-width: 480px;
    }

    .searchresult h2, .categoryresult h2 {
        font-size: 0.8em;
    }

    .rating2 p {
        font-size: 0.7em;
    }

    #users {
        font-size: 0.5em;
        align-self: flex-end;
    }

    .star2 {
        font-size: 0.7em;
    }

    .price2 {
        font-size: 1.1em;
    }

    .originalprice2 {
        font-size: 0.7em;
        align-self: flex-end;
    }

    .searchresult ul li, .categoryresult ul li {
        margin-top: 0.4em;
    }

    .productlinks2 {
        padding: 0.4em;
    }
}