.category {
    display: flex;
    flex-direction: column;
}

.category h2 {
    margin: 0;
    margin-top: 2vh;
    color: #FFC107;
}

.category ul {
    list-style: none;
    padding-left: 2vw;
    margin-top: 1.2em;
}

.category ul li {
    margin-bottom: 1vh;
}

.category ul li .categories {
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.category ul li .categories:hover {
    color: #FFC107;
}