nav {
    padding: 0.8em 0 0.8em 3em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px 2px lightgray;
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-shrink: 0;
}

.home .logo {
    transform: scale(3.0);
    padding-top: 0.3em;
    padding-left: 0.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-self: flex-end;
}

#options {
    align-self: center;
}

#options li {
    cursor: pointer;
    margin-right: 4vw;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
}

#options li .options {
    color: #000;
    text-decoration: none;
}

#options li .options:hover {
    color: #FFC107;
    transition: all 0.3s ease 0s;
}

.nav-icon {
    margin-right: 0.6em;
    transform: scale(1.4);
}

.home {
    text-decoration: none;
    color: #000;
}

nav ul #title .home h2 {
    padding-left: 2.0em;
    margin: 0;
    align-self: center;
    font-size: 1.4em;
}